body {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #1f1f1f;
    border: 3px solid #9c27b0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 30rem;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.card img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

.card-title {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

.form-control {
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background-color: #292929;
    color: #9c27b0;
    border: 1px solid #555;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #7b1fa2;
}

.form-label {
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.btn-primary {
    font-size: 1.2rem;
    background-color: #9c27b0;
    border: none;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}
